Referenzcode erzeugt ungültige JWT-Signaturen

Der Referenzcode in `as.py` enthält zwei Fehler, die zu ungültigen Signaturen führen. Die Fehler werden bei der Validierung in `vst.py` gespiegelt, sodaß sie trotz der Fehler Erfolg meldet.

## Falsche Eingangsdaten

Der Referenzcode [signiert bei der JWT-Erzeugung die falschen Daten](https://github.com/gematik/poc-ePA-Forschungsdatenfreigabe/blob/9b63a188d402e69b10f2bdf97bf1a1cdab55dfff/as.py#L115):

```py
    signature = as_private_key.sign(b_body, ec.ECDSA(hashes.SHA256()))
```

`b_body` ist dabei die [Base64url-kodierte JSON-Payload](https://github.com/gematik/poc-ePA-Forschungsdatenfreigabe/blob/9b63a188d402e69b10f2bdf97bf1a1cdab55dfff/as.py#L108). Nach [RFC 7515, Section 5.1](https://www.rfc-editor.org/rfc/rfc7515.html#section-5.1) müssen aber Header *und* Body, getrennt durch einen Punkt, signiert werden. Im Referenzcode wäre das:

```py
b_header + b'.' + b_body
```

## Falsches Signaturformat

Laut Spezifikation sollen die Signaturen für Signed-WN Tokens nach ES256 erfolgen, mit der Abweichung daß statt der P-256 Kurve Brainpool256R1 benutzt wird. ES256 wird in [RFC 7518, Section 3.4](https://www.rfc-editor.org/rfc/rfc7518.html#section-3.4) definiert.

Dort ist festgelegt, wie die aus zwei Zahlen bestehende Signatur in *genau* 64 Byte kodiert werden muß (Big Endian Kodierung zu je 32 Byte, aneinanderhängen). Die Vorgaben zur Signaturprüfung sagen ausdrücklich, daß ein Signaturwert anderer Länge ungültig ist.

Der Referenzcode verwendet leider in die von [`EllipticCurvePrivateKey.sign()`](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/ec/#cryptography.hazmat.primitives.asymmetric.ec.EllipticCurvePrivateKey.sign) nach RFC 3279 DER-kodierte Signatur [ohne entsprechende Verarbeitung](https://github.com/gematik/poc-ePA-Forschungsdatenfreigabe/blob/9b63a188d402e69b10f2bdf97bf1a1cdab55dfff/as.py#L116-L118). Dadurch scheitert die Signaturprüfung schon an der in RFC 7518 vorgegebenen Prüfung der Länge.

Korrekt wäre, die erstellte Signatur mittels [`decode_dss_signature()`](https://cryptography.io/en/latest/hazmat/primitives/asymmetric/utils/#cryptography.hazmat.primitives.asymmetric.utils.decode_dss_signature) zu dekodieren und das erhaltene Zahlentupel dann entsprechend in `bytes` zu kodieren (danach folgt selbstverständlich weiterhin die Base64url-Kodierung). Hier bietet sich [`int.to_bytes()`](https://docs.python.org/3/library/stdtypes.html#int.to_bytes) an, statt der an anderen Stellen im Code verwendeten format/zfill/unhexlify Kombination.

Danke für den Hinweis, es wurde mit dem Commit efa2da65c7e608d6a1d99654599a4d7144ccbe80 gefixt